!!! 5
//if lt IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie10.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie10.lt-ie9(lang='en')
//if IE 9
  html.no-js.lt-ie10(lang='en')
//[if gt IE 9]><!
html.no-js(lang='en')
  //<![endif]
  
  head
    title Bay Area Bike Share
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    != css('babs')
  
  body

    header
      h1 Bay Area Bike Share
    
    #content

    script#stations_list_item(type='template')
      .content
        h2 {{stationName}}
        .distance {{prettyDistance distance}}
      .availabilities
        strong {{availableBikes}}
        span  / {{availableDocks}}

    script#station(type='template')
      .station
        h2 {{stationName}}
        a.map(href='http://maps.google.com?q={{latitude}},{{longitude}}', target='_blank')
          img(src='http://maps.googleapis.com/maps/api/staticmap?center={{latitude}},{{longitude}}&zoom=16&size=290x120&scale=2&sensor=true')
          span.pin
        .availabilities
          .bikes
            strong {{availableBikes}}
            |  available bikes
          .docks
            span {{availableDocks}}
            |  available docks


    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
    != js('babs')